.info-wrap .bg_oper_01 {
	background: #0a0505;
	width: 3840px;
	height: 2160px;
	position: absolute;
	left: 0px;
	top: calc(50% - 1080px);
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);
}
.info-wrap .bg_oper_02 {
	width: 3840px;
	height: 2160px;
	position: absolute;
	left: 0px;
	top: calc(50% - 1080px);
	-o-object-fit: cover;
	object-fit: cover;
}
.info-wrap .hours-of-operation {
	color: #8b95a1;
}
.info-wrap .oper_tit {
	color: #ffffff;
	text-align: center;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 192px;
	letter-spacing: -0.02em;
	font-weight: 500; /* position: absolute; */
	left: 50%;
	display: -ms-flexbox; /* display: flex; */
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center; /* transform: translateX(-50%); */
	width: 100%;
	line-height: normal;
}
.notice_oper {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
}
.info-wrap .table {
	/* display: -webkit-box; */
	display: -ms-flexbox; /* display: flex; */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 3120px;
	margin: 180px auto 0;
	border-radius: 40px;
	background-color: transparent; /* border-collapse: collapse; */
	border-spacing: 0;
}
.info-wrap .table-row {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 40px 40px 0px 0px; /* border-style: solid; */ /* border-color: transparent; */ /* border-width: 3.18px; */ /* display: -webkit-box; */
	display: -ms-flexbox; /* display: flex; */
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
	-webkit-backdrop-filter: blur(60px);
	backdrop-filter: blur(60px);
}
.info-wrap .table-cell {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 40px 0px 0px 0px;
	padding: 60px; /* display: -webkit-box; */
	display: -ms-flexbox; /* display: flex; */
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}
.info-wrap .table-cell2 {
	color: #ffffff;
	text-align: center;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 68px;
	letter-spacing: -0.025em;
	font-weight: 500;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.info-wrap .table-cell3 {
	background: rgba(0, 0, 0, 0.5);
	padding: 60px; /* display: -webkit-box; */
	display: -ms-flexbox; /* display: flex; */
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}
.info-wrap .table-cell4 {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0px 40px 0px 0px;
	padding: 60px; /* display: -webkit-box; */
	display: -ms-flexbox; /* display: flex; */
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}
.info-wrap .table-row2 {
	background: rgba(
		255,
		255,
		255,
		0.2
	); /* border-style: solid; */ /* border-color: rgb(255 255 255); */ /* border-width: 0px 0px 2px 0px; */ /* border-bottom: 2px solid rgb(255 255 255 / 40%); */ /* display: -webkit-box; */
	display: -ms-flexbox; /* display: flex; */
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);
}
.info-wrap .table-row2 td {
	border-bottom: 2px solid rgb(255 255 255 / 40%);
}
.info-wrap tbody {
	/* background:rgba(255, 255, 255, 0.2); */ /* backdrop-filter: blur(50px); */ /* border-radius: 0px 0px 40px 40px; */ /* display: flex; */
	width: 100%;
	border-style: solid;
	border-color: transparent;
	border-width: 3.18px;
	position: relative;
	box-shadow: 0 0 0 3px transparent;
}
.info-wrap .table-row3 .left_td {
	border-radius: 0 0 0 40px; /* border-style: solid; */ /* border-color: transparent; */ /* border-width: 3px; */
}
.info-wrap .table-row3 .right_td {
	border-radius: 0 0 40px 0; /* border-style: solid; */ /* border-color: transparent; */ /* border-width: 3px; */
}
.info-wrap .table-cell5 {
	padding: 60px; /* display: -webkit-box; */
	display: -ms-flexbox; /* display: flex; */
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative; /* border-radius: 0 0 0 40px; */
}
.info-wrap .table-cell6 {
	color: #ffffff;
	text-align: center;
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 72px;
	letter-spacing: -0.025em;
	font-weight: 600;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	z-index: 99999999;
}
.info-wrap .table-cell7 {
	padding: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}
.info-wrap .table-cell8 {
	border-style: solid;
	border-color: rgba(185, 185, 185, 0.2);
	border-width: 0px 0px 4px 0px;
	padding: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}
.info-wrap .table-cell9 {
	border-style: solid;
	border-color: rgba(185, 185, 185, 0.2);
	border-width: 0px 0px 4px 0px;
	padding: 60px; /* display: -webkit-box; */
	display: -ms-flexbox; /* display: flex; */
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}
.info-wrap .table-row3 {
	background: rgba(
		255,
		255,
		255,
		0.2
	); /* border-radius: 0px 0px 40px 40px; */ /* border-style: solid; */ /* border-color: rgba(255, 255, 255, 0.4); */ /* border-width: 0px 0px 2px 0px; */ /* display: -webkit-box; */
	display: -ms-flexbox; /* display: flex; */
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);
	border-radius: 0 0 40px 40px; /* border-style: solid; */ /* border-color: transparent; */ /* border-width: 3.18px; */
}
.info-wrap .table-cell10 {
	border-radius: 0px 0px 0px 32px;
	padding: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}
.info-wrap .table-cell11 {
	border-radius: 0px 0px 32px 0px;
	border-style: solid;
	border-color: transparent;
	border-width: 3.18px;
	padding: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}
.info-wrap .table-row17 .table-cell6 {
	border-radius: 0 0 40px 0;
	border-style: solid;
	border-color: transparent;
	border-width: 3px;
}

@media (max-width: 1920px) {
	.info-wrap .bg_oper_01 {
		width: 1920px;
		height: 1080px;
		top: calc(50% - 540px);
	}
	.info-wrap .bg_oper_02 {
		width: 1920px;
		height: 1080px;
		top: calc(50% - 540px);
	}
	.info-wrap .oper_tit {
		font-size: 96px;
		letter-spacing: -0.01em;
	}
	.info-wrap .table {
		width: 1560px;
		margin: 90px auto 0;
	}
	.info-wrap .table-row {
		border-radius: 20px 20px 0px 0px;
		border-width: 1.5px;
	}
	.info-wrap .table-cell {
		border-radius: 20px 0px 0px 0px;
		padding: 30px;
	}
	.info-wrap .table-cell2 {
		font-size: 34px;
		letter-spacing: -0.012em;
	}
	.info-wrap .table-cell3 {
		padding: 30px;
	}
	.info-wrap .table-cell4 {
		border-radius: 0px 20px 0px 0px;
		padding: 30px;
	}
	.info-wrap .table-row2 td {
		border-bottom: 1px solid rgb(255 255 255 / 40%);
	}

	.info-wrap .table-cell5 {
		padding: 30px;
		border: 0;
	}
	.info-wrap .table-cell6 {
		font-size: 36px;
		letter-spacing: -0.012em;
	}
	.info-wrap .table-row3 .left_td {
		border-radius: 0 0 0 20px;
	}
	.info-wrap .table-row3 .right_td {
		border-radius: 0 0 20px 0;
	}
	.info-wrap .table-cell7 {
		padding: 30px;
	}
	.info-wrap .table-cell8 {
		border-width: 0px 0px 2px 0px;
		padding: 30px;
	}
	.info-wrap .table-cell9 {
		border-width: 0px 0px 2px 0px;
		padding: 30px;
	}
	.info-wrap .table-cell10 {
		border-radius: 0px 0px 0px 16px;
		padding: 30px;
	}
	.info-wrap .table-cell11 {
		border-radius: 0px 0px 16px 0px;
		padding: 30px;
	}
}
