#b_loan .loan_wrap_01 .clock-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 120px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

#b_loan .loan_wrap_01 {
	position: absolute;
	left: 500px;
	top: 360px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 200px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#b_loan .loan_wrap_02 {
	position: absolute;
	left: 500px;
	top: 1065px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 200px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#b_loan .loan_wrap_02 .clock-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 120px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

#b_loan .flip-clock-wrapper ul li a div.up:after {
	top: 250px;
}

#b_loan .flip-clock-wrapper ul li a div div.inn {
	font-size: 360px;
	background: url(../../img/type_b/book_loan_return_date/img_line.png) no-repeat;
	background-size: 100%;
	/* background-position: bottom; */
	border-radius: 24px;
	color: #fff;
	font-family: 'FjallaOne-Regular', sans-serif;
}

#b_loan .clock-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	/* width: 100%; */
	/* gap: 30px; */
}

#b_loan .clock {
	text-align: center;
	width: 660px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#b_loan .label {
	color: #191f28;
	text-align: left;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 50px;
	margin: 0 1em;
}

#b_loan .weekday-display {
	color: white;
	font-size: 400px;
	margin-top: 10px;
	line-height: 400px;
}

#loan-weekday ul:nth-child(1),
#return-weekday ul:nth-child(1) {
	display: none;
}

#b_loan .flip-clock-wrapper ul {
	width: 320px;
	height: 500px;
	font-size: 400px;
	margin: 0 auto;
	padding: 0;
	-webkit-box-shadow: unset;
	box-shadow: unset;
	border-radius: 24px;
	overflow: hidden;
	background: none;
}

#b_loan .flip-clock-wrapper ul li {
	line-height: 580px;
	font-size: 400px;
	height: 500px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	/* 뒤집힌 면을 숨김 */
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	/* 3D 변환 유지 */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.flip-clock-wrapper ul li.before {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.flip-clock-wrapper ul li.active {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	/* 부드럽게 회전 */
	-webkit-transition: -webkit-transform 0.8s ease-in-out;
	transition: -webkit-transform 0.8s ease-in-out;
	transition: transform 0.8s ease-in-out;
	transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
	/* 자연스러운 전환 */
}

/* 폰트 왜곡 방지 */
.flip-clock-wrapper ul li a {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transform: scale(1);
	transform: scale(1);
	/* 스케일 고정 */
	-webkit-transition: -webkit-transform 0.1s;
	transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
	transition: transform 0.1s, -webkit-transform 0.1s;
	/* 스케일 왜곡 방지 */
}

#b_loan .flip-clock-divider {
	height: 500px;
}

#b_loan .flip-clock-dot {
	width: 10px;
	height: 10px;
	margin: 5px;
}

#loan-weekday ul:nth-child(2),
#return-weekday ul:nth-child(2) {
	width: 400px !important;
}

#loan-weekday ul:nth-child(2) li .inn,
#return-weekday ul:nth-child(2) li .inn {
	width: 400px !important;
	background: url(../../img/type_b/book_loan_return_date/img_line_02.png) no-repeat !important;
	background-size: 100%;
	font-family: 'SeoulNamsanM' !important;
}

.loan_label {
	width: 320px;
	/* position: relative; */
	/* left: 510px; */
	text-align: center;
}

.loan_label p {
	color: #191f28;
	font-family: 'Pretendard-Bold', sans-serif;
	font-size: 120px;
	line-height: 100%;
	letter-spacing: -0.02em;
	font-weight: 700;
}

.loan_label span {
	color: #8b95a1;
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 32px;
	letter-spacing: 0.1em;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	margin-top: 40px;
}

@media (max-width: 1920px) {
	#b_loan .loan_wrap_01 .clock-container {
		gap: 60px;
	}

	#b_loan .loan_wrap_01 {
		left: 250px;
		top: 180px;
		gap: 100px;
	}

	#b_loan .loan_wrap_02 {
		left: 250px;
		top: 532px;
		gap: 100px;
	}

	#b_loan .loan_wrap_02 .clock-container {
		gap: 60px;
	}

	#b_loan .flip-clock-wrapper ul li a div.up:after {
		top: 125px;
	}

	#b_loan .flip-clock-wrapper ul li a div div.inn {
		font-size: 180px;
		border-radius: 12px;
		background-size: cover !important;
	}

	#b_loan .clock {
		width: 330px;
		gap: 5px;
	}

	#b_loan .label {
		font-size: 25px;
	}

	#b_loan .weekday-display {
		font-size: 200px;
		margin-top: 5px;
		line-height: 200px;
	}

	#b_loan .flip-clock-wrapper ul {
		width: 160px;
		height: 250px;
		font-size: 200px;
		border-radius: 12px;
	}

	#b_loan .flip-clock-wrapper ul li {
		line-height: 290px;
		font-size: 200px;
		height: 250px;
	}

	#b_loan .flip-clock-divider {
		height: 250px;
	}

	#b_loan .flip-clock-dot {
		width: 5px;
		height: 5px;
		margin: 2px;
	}

	#loan-weekday ul:nth-child(2),
	#return-weekday ul:nth-child(2) {
		width: 200px !important;
		border-radius: 12px;
	}

	#loan-weekday ul:nth-child(2) li .inn,
	#return-weekday ul:nth-child(2) li .inn {
		width: 200px !important;
		border-radius: 12px;
		background-size: cover;
	}

	.loan_label {
		width: 160px;
	}

	.loan_label p {
		font-size: 60px;
	}

	.loan_label span {
		font-size: 16px;
		margin-top: 20px;
	}
}
