.event_wrapper {
	position: absolute;
	z-index: 9;
	top: calc(50% - 480px);
	left: 340px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	width: 2000px;
	gap: 80px;
}
.con_wrapper {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	gap: 100px;
}
.event_wrapper h2 {
	font-family: 'Pretendard-Bold', sans-serif;
	font-size: 52px;
	font-weight: 700;
	line-height: 100%;
	position: relative;
	text-align: left;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #b87045;
}

.event_wrapper h4 {
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 200px;
	font-weight: 600;
	line-height: 130%;
	display: -webkit-box;
	overflow: hidden;
	height: 478px;
	text-align: left;
	letter-spacing: -0.02em;
	color: #191f28;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
}

.event_wrapper .time_place {
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-shrink: 0;
	justify-content: flex-start;
	width: 2000px;
	gap: 160px;
}
.event_wrapper .time_place_wrap {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	gap: 60px;
}
.event_wrapper .event_label {
	font-family: 'Pretendard-SemiBold', sans-serif;
	font-size: 60px;
	font-weight: 600;
	line-height: 140%;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-overflow: ellipsis;
	color: #b87045;
}
.event_wrapper .event_ex {
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 72px;
	font-weight: 500;
	line-height: 140%;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
	text-transform: uppercase;
	text-overflow: ellipsis;
	color: #6b7684;
}
.event_wrapper .bx-wrapper .bx-pager {
	padding-top: 0px;
	top: 830px;
	left: 0;
	text-align: left;
}
.event_wrapper .bx-wrapper .bx-pager.bx-default-pager a {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin: 0 15px;
	background: #fff;
}
.event_wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #adb5bd;
}
@media (max-width: 1920px) {
	.event_wrapper {
		top: calc(50% - 240px);
		left: 170px;
		width: 1000px;
		gap: 40px;
	}
	.con_wrapper {
		gap: 50px;
	}
	.event_wrapper h2 {
		font-size: 26px;
	}

	.event_wrapper h4 {
		font-size: 100px;
		height: 240px;
	}

	.event_wrapper .time_place {
		width: 1000px;
		gap: 80px;
	}
	.event_wrapper .time_place_wrap {
		gap: 30px;
	}
	.event_wrapper .event_label {
		font-size: 30px;
	}
	.event_wrapper .event_ex {
		font-size: 36px;
	}

	.event_wrapper .bx-wrapper .bx-pager {
		top: 415px;
	}
	.event_wrapper .bx-wrapper .bx-pager.bx-default-pager a {
		width: 12px;
		height: 12px;
		margin: 0 8px;
	}
}
