.welcome_wrap .ict_tit_01,
.welcome_wrap .ict_tit {
	color: #fff;
}

.animated-title .bottom_txt {
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	max-width: 100%;
	height: auto;
	-webkit-transform: rotate(0.04deg) translate3d(0, 0, 0);
	transform: rotate(0.04deg) translate3d(0, 0, 0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.animated-title .track {
	position: absolute;
	-webkit-animation: marquee 30s linear infinite;
	animation: marquee 60s linear infinite;
	white-space: nowrap;
	will-change: left;
}

@-webkit-keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}

.welcome_wrap .top-sec {
	position: absolute;
	top: calc(50% - 738px);
	left: calc(50% - 840px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
	width: 1680px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	gap: 24px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
}

.welcome_wrap .time-date {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-start;
	-ms-flex-direction: column;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	gap: 0px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-ms-flex-negative: 0;
}
.welcome_wrap .time {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	align-items: flex-start;
	-ms-flex-direction: column;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	gap: 20px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-ms-flex-negative: 0;
}
.welcome_wrap .time-txt {
	font-family: 'Century Gothic', sans-serif;
	font-size: 180px;
	font-weight: 400;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	color: #fff;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
}
.welcome_wrap .date-txt {
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 60px;
	font-weight: 500;
	position: relative;
	left: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	align-items: center;
	justify-content: flex-start;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: left;
	color: #fff;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
}

.txt_wel{
    position: absolute;
    top:calc(50% - -660px);
    width:100%;
    height:286px;
    text-align: center;
}

.welcome_wrap .div {
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 120px;
	font-weight: 500;
	line-height: 140%;
	position: absolute;
	top: calc(50% - 144px);
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	-moz-animation: fadein 3s; /* Firefox */
	-o-animation: fadein 3s;
	-webkit-animation: fadein 3s; /* Safari and Chrome */
    animation: fadein 3s;
	text-align: center;
	letter-spacing: -0.02em;
	color: #191f28;
}
.lib_tit {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 52px;
	font-weight: 400;
	line-height: 150%;
	position: absolute;
	bottom: 0px;
	left: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	text-align: center;
	letter-spacing: 0.16em;
	color: var(--gray500, #8b95a1);
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	/* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 1920px) {
	.welcome_wrap .top-sec {
		top: calc(50% - 369px);
		left: calc(50% - 420px);
		width: 840px;
		gap: 12px;
	}
	.welcome_wrap .time {
		gap: 10px;
	}
	.welcome_wrap .time-txt {
		font-size: 90px;
		font-weight: 400;
	}
	.welcome_wrap .date-txt {
		font-size: 30px;
	}
    
   .txt_wel{
    top:calc(50% - -330px);
    height:143px;
    }
    
	.welcome_wrap .div {
		font-size: 60px;
		top: calc(50% - 72px);
        width: 1080px;
	}
	.lib_tit {
		font-size: 26px;
	}
}
