.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../../img/type_c/a_line_of_book/background.svg') center center no-repeat;
  background-size: cover;
}

.description, .caption {
  transform: translateY(20px);
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.description {
  animation-delay: 0.5s;
}

.caption {
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
  z-index: 10;
  margin-top: 377px;
  margin-left: 276px;
}

.description {
  font-family: "SeoulHangang CM", sans-serif;
  font-size: 120px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -2.4px;
  color: #FFFFFF;
}

.caption {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin-top: 60px;
  color: #EFF1F3;
}

* {
  box-sizing: border-box;
}

html, body {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
  z-index: 1;
}

.cherry_blossom {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.petal {
  position: absolute;
  z-index: 1;
  transition: transform 1000ms linear;
  pointer-events: none;
  border-radius: 10% 50% 40% 50%;
  background: url('../../img/type_c/a_line_of_book/leaf.png') center center no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
}

@keyframes fall {
  0% {
    top: -50px;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0.2;
  }
}

@media (width: 1920px) {
  .content {
    margin-top: 188.5px;
    margin-left: 138px;
  }

  .description {
    font-family: "SeoulHangang CM", sans-serif;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    letter-spacing: -1.2px;
    color: #FFFFFF;
  }

  .caption {
    font-family: "Pretendard", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    margin-top: 30px;
    color: #EFF1F3;
  }
}
