.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../../img/type_c/event/background.svg') center center no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.today {
  font-family: "Pretendard", sans-serif;
  font-size: 52px;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  margin-top: 354px;
  margin-bottom: 80px;
  text-align: center;
  letter-spacing: 10.4px;
  text-transform: uppercase;
  color: #FFEC8B;
}

.event-title {
  font-family: "Pretendard", sans-serif;
  font-size: 200px;
  font-weight: 600;
  font-style: normal;
  line-height: 130%;
  text-align: center;
  letter-spacing: -4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 30px 200px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.20);
  gap: 160px;
}

.event-time {
  font-family: "Pretendard", sans-serif;
  font-size: 72px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #F7F8FA;
}

.event-time span {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  margin-right: 52px;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #FFEC8B;
}

.moon {
  position: absolute;
  top: 409px;
  left: 360px;
  width: 196px;
  height: 200px;
}

.user {
  position: absolute;
  right: 260px;
  bottom: 209px;
  width: 640px;
  height: 343px;
}


.constelacao {
  position: absolute;
  z-index: 0;
  top: -150px;
  left: 0;
  width: 100%;
  height: 100%;
}

.estrela {
  position: absolute;
  animation-name: estrela;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 50%;
  background-color: white;
}

.estrela.style1 { animation-duration: 0.5s; }
.estrela.style2 { animation-duration: 1s; }
.estrela.style3 { animation-duration: 1.5s; }
.estrela.style4 { animation-duration: 2s; }

.estrela.tam1 { width: 1px; height: 1px; }
.estrela.tam2 { width: 2px; height: 2px; }
.estrela.tam3 { width: 3px; height: 3px; }

.estrela.opacity1 { opacity: 1; }
.estrela.opacity2 { opacity: 0.5; }
.estrela.opacity3 { opacity: 0.1; }

@keyframes estrela {
  0% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.05);
  }
}

.content {
  transform: translateY(20px);
  animation: slideIn 1s forwards;
  opacity: 0;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (width: 1920px) {
  .constelacao {
    position: absolute;
    z-index: 0;
    top: -265px;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .today {
    font-family: "Pretendard", sans-serif;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    margin-top: 177px;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 5.2px;
    text-transform: uppercase;
    color: #FFEC8B;
  }

  .event-title {
    font-family: "Pretendard", sans-serif;
    font-size: 100px;
    font-weight: 600;
    font-style: normal;
    line-height: 130%;
    text-align: center;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 15px 100px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.20);
    gap: 160px;
  }

  .event-time {
    font-family: "Pretendard", sans-serif;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    align-items: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #F7F8FA;
  }

  .event-time span {
    font-family: "Pretendard", sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    margin-right: 26px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    color: #FFEC8B;
  }

  .moon {
    position: absolute;
    top: 204.5px;
    left: 180px;
    width: 98px;
    height: 100px;
  }

  .user {
    position: absolute;
    right: 130px;
    bottom: 104.5px;
    width: 320px;
    height: 171.5px;
  }
}