.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../../img/type_c/house_of_operation/background.svg') center center no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 152px 360px;
}

.content_title {
  font-family: "Pretendard", sans-serif;
  font-size: 160px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin-bottom: 120px;
  text-align: center;
  letter-spacing: -3.2px;
  color: #191F28;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table .table_header {
  font-family: "Pretendard", sans-serif;
  font-size: 68px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  width: 3120px;
  text-align: center;
  letter-spacing: -1.7px;
  color: #FFF;
  border-radius: 40px 40px 0 0;
  background-color: #188FD2;
}

.table .table_header th {
  padding: 60px;
  text-align: center;
}

@media (width: 1920px) {

}